@charset "UTF-8";

@import 'home';
@import 'blog';
@import 'sidebar';
@import 'contact';

@import 'footer';
@import 'banner';




$color-principal: #70d2c1;
$color-secundario: #7a7a7a;

$color-blanco: #CDCDCD;
$color-blanco2: #eee;
$color-blanco3: #fff;

$color-gris: #7a7a7a;


$color-logotext: #1e1e1e;
$header-background: #f7f7f7;
$footer-background: black;
$footer-text: #121212;

$category-title-size: 19px;

