@charset "UTF-8";
body {
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    min-height: 100vh;
}

p {
    margin-bottom: 0px;
    font-size: 15px;
    font-weight: 400;
    color: black;
    line-height: 30px;
}

a {
    text-decoration: none !important;
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0px;
}

.btn-primary {
    display: inline-block;
    background-color: $color-principal;
    color: $color-blanco3;
    font-size: 13px;
    font-weight: 500;
    padding: 12px 20px;
    transform: uppercase;
    transition: all .3s;
    border: none;
    outline: none;
}

textarea#message {
    height: 50px; /* Ajusta la altura seg�n lo desees */
    width: 100%; /* Para asegurarte que el ancho sea el correcto */
    padding: 10px; /* Opcional: Ajusta el padding para una mejor apariencia */
    box-sizing: border-box; /* Incluye padding y border en el c�lculo del ancho */
    resize: none; /* Evita que el usuario cambie el tama�o del textarea */
}
