{% load static %}
{% load static sass_tags %}
<div class="main-banner header-text">
    <div class="container-fluid">
  
      <div class="owl-banner owl-carousel">
        
        {% for blog in blogs|slice:"8" %}
        <div class="item">
          <img src="{{blog.banner.url}}" alt="">
          <div class="item-content">
            <div class="main-content">
              <div class="meta-category">
               <span  class="banner-category-title">{{blog.category}}</span>
              </div>
              <a class="adios" href="{% url 'blog_details' blog.slug %}"><h4>{{blog.title}}</h4></a>
    
              {% comment %} <a href="{% url 'blog_details' blog.slug %}"> {% endcomment %}
            </div>

          </div>
        </div>
        {% endfor %}
      </div>
    {% comment %} </a> {% endcomment %}
    </div>
  </div>





  
{% comment %} {% load static %}


<body>
    <div class="main-banner header-text">
        <div class="container-fluid">
            <div class="owl-banner owl-carousel">
                {% for blog in blogs|slice:"8" %}
                <div class="item">
                    <img src="{{blog.banner.url}}" alt="">
                    <div class="item-content">
                        <div class="main-content">
                            <div class="meta-category">
                                <span>{{blog.category}}</span>
                            </div>
                            <a href="{% url 'blog_details' blog.slug %}"><h4>{{blog.title}}</h4></a>
                            <ul class="post-info">
                                <li><a href="{% url 'view_user_information' blog.user.username %}">{{blog.user.username}}</a></li>
                                <li><a href="#">{{blog.created_date}}</a></li>
                                <li><a href="#">{{blog.blog_comments.all.count}} comentarios</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>

    <!-- Scripts -->
    <script src="{% static 'path/to/jquery.min.js' %}"></script>
    <script src="{% static 'path/to/owl.carousel.min.js' %}"></script>
    <script>
        $(document).ready(function(){
            $(".owl-banner").owlCarousel({
                items:4,
                loop: true,
                nav: true,
                dots: true,
                navText: ["<div class='nav-btn prev-slide'></div>", "<div class='nav-btn next-slide'></div>"]
            });
        });
    </script>
</body>

</html>
 {% endcomment %}
{% comment %} {% load static %}
<div class="main-banner header-text">
    <div class="container-fluid">
      <div class="owl-banner owl-carousel">
        {% for blog in blogs|slice:"8" %}
        <div class="item">
          <img src="{{blog.banner.url}}" alt="">
          <div class="item-content">
            <div class="main-content">
              <div class="meta-category">
                <span>{{blog.category}}</span>
              </div>
              <a href="{% url 'blog_details' blog.slug %}" class="blog-title-link"></h4>{{ blog.title}}</a>
              <ul class="post-info">
                <li><a href="{% url 'view_user_information' blog.user.username %}">{{blog.user.username}}</a></li>
                <li><a href="#">{{blog.created_date}}</a></li>
                <li><a href="#">{{blog.blog_comments.all.count}} Comments</a></li>
              </ul>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div> {% endcomment %}
