<!--{% load static %}
<section class="carousel-section">
    <div class="css-carousel">
        <figure><img src="{% static 'images/img1.jpg' %}" alt="First slide"></figure>
        <figure><img src="{% static 'images/img2.jpg' %}" alt="Second slide"></figure>
        <figure><img src="{% static 'images/img3.jpg' %}" alt="Third slide"></figure>
        <figure><img src="{% static 'images/img4.jpg' %}" alt="Fourth slide"></figure>
        <figure><img src="{% static 'images/img5.jpg' %}" alt="Fifth slide"></figure>
        <figure><img src="{% static 'images/img6.jpg' %}" alt="Sixth slide"></figure>
    </div>
</section>-->
