{% extends 'base.html' %}
{% load static %}
{% block title %} Editar Categoria {% endblock title %}

{% block content %}
<div class="container py-5">
    <h2>Editar Categoria</h2>
    <form method="POST">
        {% csrf_token %}
        <div class="form-group">
            <label for="title">Nombre</label>
            <input type="text" name="title" class="form-control" value="{{ category.title }}" required>
        </div>
        <button type="submit" class="btn btn-success mt-2">Guardar cambios</button>
        <a href="{% url 'manage_categories' %}" class="btn btn-secondary mt-2">Cancelar</a>
    </form>
</div>
{% endblock content %}
