 <header class="">
  <nav class="navbar navbar-expand-lg">
    <div class="container">
      
      <a class="navbar-brand" href="{% url 'blog:home' %}">
        <img src="https://i.ibb.co/XWXdqFc/LOGO.png" alt="LOGO" border="0" style="height: 70px; margin-right: 5px;" >
        <a class="navbar-brand" href="{% url 'blog:home' %}"><h2>Sigfrid Art<em></em></h2></a>
      </a>
      
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">

        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" href="{% url 'blog:home' %}">Home</a>
          </li> 
          <li class="nav-item">
            <a class="nav-link" href="{% url 'blog:blogs' %}">Noticias</a>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Categorias
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              {% for category in categories %}
              <a class="dropdown-item" href="{% url 'blog:category_blogs' category.slug %}">{{category.title}}</a>
              {% endfor %}
            </div>
          </li>

          {% if request.user.is_authenticated %}
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              {{request.user.username}}
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              
              <a class="dropdown-item" href="{% url 'user_profile:profile' %}">Perfil</a>
       
              <a class="dropdown-item" href="{% url 'user_profile:logout' %}">Cerrar sesión</a>
             
            </div>
          </li>
          {% else %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'user_profile:login' %}">Iniciar sesión</a>
          </li>
          {% endif %}
        </ul>
      </div>
    </div>
  </nav>
</header>