{% extends 'base.html' %}
{% load static %}
{% load static sass_tags %}

{% block title %} Home {% endblock title %}

{% block content %}
<section class="blog-posts d-flex align-items-center justify-content-center" style="min-height: 100vh;">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8 text-center">
                <div class="all-blog-posts">
                    <div class="row">
                        {% for blog in blogs|slice:"20" %}
                        {% include 'blog_card.html' %}
                        {% endfor %}
                    </div>
                </div>
                <div class="mt-4">
                    <div class="main-button">
                        <a href="{% url 'blogs' %}">Ver todos los Posts</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock content %}
