{% extends 'base.html' %}
{% load static %}
{% block title %} My Events {% endblock title %}

{% block content %}

<section class="my-events">
    <div class="container-fluid">
        <div class="row py-5">
            {% if messages %}
            <div class="col-md-12 py-2">
                {% include 'message.html' %}
            </div>
            {% endif %}

            {% for event in events %}
            <div class="col-md-4 my-2">
                <div class="card">
                    {% if event.image %}
                    <img class="card-img-top img-fluid" style="width: 100%; height: 320px;" src="{{ event.image.url }}" alt="{{ event.title }}">
                    {% else %}
                    <!-- Imatge per defecte si no hi ha cap -->
                    <img class="card-img-top img-fluid" style="width: 100%; height: 320px;" src="{% static 'default_event_image.jpg' %}" alt="{{ event.title }}">
                    {% endif %}
                    <div class="card-body">
                        <p class="card-text d-flex flex-row">
                            {{ event.title|truncatechars:15 }}
                            <a class="px-2 ml-auto" href="{% url 'events:update_event' event.slug %}">
                                <i class="fa fa-edit"></i>
                            </a>
                            <a class="px-2" href="?delete={{ event.pk }}">
                                <i class="fa fa-trash text-danger"></i>
                            </a>
                        </p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>

        <div class="row py-2 justify-content-center">
            <div class="col-md-8">
                {% include 'pagination.html' %}
            </div>
        </div>
    </div>
</section>

{% endblock content %}
